:root {
  --main-blue: #0051d2;
  --transition: 800ms;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* change max-width to 720px on smaller screen */
.container {
  max-width: 1170px;
}
.hidden {
  display: none;
}
/* 
==========
Header
==========
*/
.header {
  width: 100%;
  border-bottom: 1px solid #e8edf1;
  position: fixed;
  background: white;
  /* justify-content: center; */
}
/* hide at 767px */
.top-menu {
  height: 42px;
  /* border-bottom: 1px solid #e8edf1; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu-left {
  float: left;
}
.top-menu-left span {
  padding: 0 0.5rem;
}
.top-menu-icons {
  float: right;
}
.top-menu-icons i {
  padding: 0 0.3rem;
}
/* 
==========
Navbar
==========
*/
.navbar {
  height: 80px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e8edf1;
}
/* add padding to both sides on smaller screens with @media  */
.navbar {
  /* padding: 0 15px; */
}
/* hide at 991px */
.navbar ul {
  display: flex;
}
.navbar ul > li {
  padding: 0 2rem;
}
.navbar ul > li:last-child {
  padding-right: 0;
}
/* show at 991px */
.mobile-btn {
  display: none;
  padding: 0;
  font-size: 2rem;
  color: var(--main-blue);
}
/* add padding to both sides on smaller screens with @media  */
.mobile-nav li {
  padding: 1rem 0;
}
/* need mobile nav to be even with navbar at 767px */
.mobile-nav {
  padding: 0 15px;
  height: 30%;
}
.mobile-nav ul {
  height: 15%;
}
/* 
==========
Hero section
==========
*/
.hero-section {
  /* width: 100%; */
  min-height: 800px;
  background-image: url(./images/medical-hero-img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding-top: 1100px; */
}
/* .hero-img {
  width: 100%;
} */

.hero-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 41.666667%;
  margin-left: 5rem;
  flex: 41.6666%;
}
.hero-content h1 {
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.hero-content p {
  width: 100%;
  line-height: 27px;
  margin-bottom: 50px;
}
/* add margin bottom on smaller screen size */
.main-btn {
  display: inline-block;
  background: var(--main-blue);
  color: white;
  padding: 0 18px;
  line-height: 48px;
  margin-right: 4px;
  transition: var(--transition);
}
.main-btn:hover {
  color: black;
  background: white;
}
.main-btn-lite {
  display: inline-block;
  color: black;
  background: transparent;
  padding: 0 18px;
  line-height: 48px;
  border: 1px solid var(--main-blue);
  transition: var(--transition);
}
.main-btn-lite:hover {
  color: white;
  background: var(--main-blue);
}
/* 
==========
Feature section
==========
*/
.feature-section {
  padding: 30px;
  background-image: url(./images/feature-section-img.webp);
}
.feature-cards {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}
.feature-card {
  /* display: inline; */
  /* width: 170px;
  height: 174px; */
  margin: 20px;
  padding: 2rem;
  background: white;
  text-align: center;
}
.feature-card p {
  word-wrap: break-word;
  /* width: 50%; */
  /* line-height: 27px; */
  /* width: 100%;
  height: 100%; */
}
/* 
==========
Media queries
==========
*/
@media screen and (max-width: 767px) {
  .top-menu {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .mobile-btn {
    display: block;
  }
}
.navbar ul {
  display: flex;
}
@media screen and (max-width: 991px) {
  .navbar ul {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 0 15px;
  }
}
@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}
.hero-img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .feature-cards {
    flex-direction: column;
  }
}
